*{
    margin: 0;
    padding: 0;
}
body{
background-color: rgb(74, 177, 146);   
margin: 150px 0;
}
.newsletter{
    box-sizing: border-box;
    background-color: rgb(21, 83, 226);

    max-width: 330px;
    margin: 0 auto;
    color: white;
    text-align: center;
    padding: 50px 30px;
    border-radius: 5px;
}
hr{
    width: 50px;
    margin: 20px auto;
}
p{
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
}
input{
    color: rgb(255, 255, 255);
    background-color: rgb(52, 53, 56);
    padding: 10px 20px;
    width: 100%;
    outline: none;
    box-sizing: border-box;

}
::placeholder{
    color: white;
}
button{
    font-weight: bolder;
    margin-top: 20px;
    width: 120px;
    height: 40px;
    color: black;
    background-color: rgb(21, 83, 226);
    outline: none;
    border: solid 1px white; 
    border-radius: 3px;   
}
button:hover{
    color: white;
    background-color: black;
}